name: Run build and push image to registry

on:
  workflow_call:
    inputs:
      APPLICATION:
        required: true
        type: string

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
