name: Run build and push image to registry

on:
  workflow_call:
    inputs:
      APPLICATION:
        required: true
        type: string

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Get commit SHA
        uses: benjlevesque/short-sha@v1.2
        with:
          length: 8
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver: docker-container
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: ops/docker/${{ inputs.APPLICATION }}/Dockerfile
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/${{ inputs.APPLICATION }}:${{ env.SHA }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
