name: Run build and push image to registry

on:
  workflow_call:
    inputs:
      APPLICATION:
        required: true
        type: string

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Get commit SHA
        uses: benjlevesque/short-sha@v1.2
        with:
          length: 8
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          driver: docker-container
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: Dockerfile
          build-args: |
            COMMIT_SHA=${{ env.SHA }}