name: deploy_frontend_production
on:
  push:
#    paths:
#      ["code/ollieweb/**", ".github/workflows/deploy_frontend_production.yml"]
    branches:
#      - develop
      - ghaproduction
    tags:
      - "20[2-9][0-9].[0-1][0-9].[0-3][0-9]-[1-9]?[0-9]-FE"

concurrency: deploy_frontend_production-${{ github.ref }}


jobs:
  set_env:
    runs-on: ubuntu-latest
    steps:
    - id: set_env
      run: |
          if [ ${{ github.ref_type }} == "branch" ]; then
            echo "::set-output name=environment::staging"
            echo "Trigger was a push to ${{ github.ref_type }} ${{ github.ref_name }}, deploying to staging environment"
          else
            echo "::set-output name=environment::production"
            echo "Trigger was a push to ${{ github.ref_type }} ${{ github.ref_name }}, deploying to production environment"
          fi
    outputs:
      environment: ${{ steps.set_env.outputs.environment }}
  build_olliemain:
    if: github.ref_type == 'branch'
    uses: ./.github/workflows/build_publish.yml
    with:
      APPLICATION: ollieweb

  migrate:
    needs: [build_olliemain, set_env]
    if: |
      always() && 
      (needs.set_env.result == 'success') && 
      (needs.build_olliemain.result == 'success' || needs.build_olliemain.result == 'skipped')
    uses: ./.github/workflows/migrate.yml
    with:
      ENVIRONMENT: ${{ needs.set_env.outputs.environment }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

  deploy_ollieweb:
    needs: [migrate, set_env]
    if: |
      always() && 
      (needs.set_env.result == 'success') && 
      (needs.migrate.result == 'success')
    uses: ./.github/workflows/deploy_ecs.yml
    with:
      APPLICATION: ollieweb
      ENVIRONMENT: ${{ needs.set_env.outputs.environment }}