name: Deploy to ECS

on:
  workflow_call:
    inputs:
      APPLICATION:
        required: true
        type: string
      ENVIRONMENT:
        required: true
        type: string

jobs:
  deploy_ecs:
    runs-on: ubuntu-latest
    steps:
      - name: Get commit SHA
        uses: benjlevesque/short-sha@v1.2
        with:
          length: 8
      - run: echo "SHA is {{env.SHA}}"