name: Run migration scripts for olliemain

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_REGION:
        required: true

jobs:
  migrate:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-migration-files
        uses: tj-actions/changed-files@v17.3
        with:
          files: |
            code/olliemain/apps/**/migrations/**
      - name: Get commit SHA
        uses: benjlevesque/short-sha@v1.2
        if: steps.changed-migration-files.outputs.any_changed == 'true'
        with:
          length: 8
      - name: Run CodeBuild Migration project
        if: steps.changed-migration-files.outputs.any_changed == 'true'
        uses: aws-actions/aws-codebuild-run-build@v1
        with:
          project-name: codebuild-projects-${{ inputs.ENVIRONMENT }}-migrate
          env-vars-for-codebuild: |
            IMAGE_TAG
        env:
          IMAGE_TAG: ${{ env.SHA }}
